
<!-- The Modal -->
<div id="mdl-ani-dnd" class="mdl">
    <script src="{{ asset('js/ani.dnd.js') }}"></script>
    <!-- Modal content -->
    <div class="mdl-content">
        <span class="cls">&times;</span>
        <br>
        <div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:280px; height:330px">
            <canvas id="canvas" width="280" height="330" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
            <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:280px; height:330px; position: absolute; left: 0px; top: 0px; display: block;">
            </div>
        </div>
    </div>
</div>