{# app//Resources/views/exception/error.html.twig #} 
{% extends 'layout.html.twig' %} 

{% block stylesheets %}
    {{ parent() }}
{#     <link href="{{ asset('css/default.css') }}" type="text/css" rel="stylesheet" />#}
{% endblock %}

{% block js %}
    {{ parent() }}
{#     <script src="{{ asset('js/default.js') }}"></script>#}
{% endblock %}




{# head1 in layout#}
{% block head1 %}
	
{% endblock %}

{% block body %}
<div id="wrapper" class="container">
	<div id="panel" class="panel panel-default">
		<div class="panel-heading">
        	<h1>
				<span>Fehler! Oops!</span> 
			</h1>
        </div>

		<div class="panel-body">
            {% include 'exception/exception.html.twig' %}
    	</div>

	</div>
</div>
{% endblock %}
